
body, html {
  color: rgb(171,171,171);
  a {
    color: rgb(171,171,171);
    text-decoration: none;
  }
}

nav {
  ul {
    text-transform: uppercase;
  }
}

.cs__mobile-menu {
  display: none;
}

.cs__footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#front-page-mobile {
  .front-page-mobile-item {
    display: none;
  }
}

.cs__footer-right-menu {
  #footer-right-menu-cart {
    display: inline-block;
  }
}

//*** product pages ***
.cs__product-wrap {
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;

  .cs__cart-button {
    margin-top: 20px;
    background: none;
    border: 0;
    text-transform: uppercase;
    font-size: 15px;
  }
}

// all media queries for any of my custom ids/classes
@media only screen and (max-width: 740px) {
  .cs__mobile-menu {
    display: block;
  }
  .cs__footer-left-menu {
    display: none;
  }
  .cs__footer-center-menu {
    display: none;
  }
  .cs__footer-right-menu {
    #footer-right-menu-cart {
      display: none;
    }
  }
  // hold off on this one ...
  // #front-page-slider {
  //   display: none;
  // }
  // #front-page-mobile {
  //   .front-page-mobile-item {
  //     display: block;
  //     text-align: center;
  //   }
  // }
}
