
body, html {
  color: rgb(171,171,171);
  a {
    color: rgb(171,171,171);
    text-decoration: none;
  }
}

nav {
  ul {
    text-transform: uppercase;
  }
}

.cs__mobile-menu {
  display: none;
}

.cs__footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 740px) {
  .cs__mobile-menu {
    display: block;
  }
  .cs__footer-left-menu {
    display: none;
  }
  .cs__footer-center-menu {
    display: none;
  }
}
