/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
  }
}

.site-nav {
  padding-left: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: 12px;
  }
}
