{%- assign collection = collections[section.settings.collection] -%}

<div id="front-page-slider" class="owl-carousel owl-theme">
  {% for product in collection.products limit: 6 %}
    <div class="slider-item">
      {{ product.featured_image.src | img_url: '480x480' | img_tag: product.title }}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
